mat-card {
    background-color: hsla(0,0%,100%,.05);
}

.top-cell {
    height: 80%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.top-cell-right {
    margin-right: 10%;
}

.top-cell-left {
    margin-left: 10%;
}

.top-cell-title {
    font-size: 1.5vw;
    margin-top: 3% !important;
    margin-left: 2% !important;
}

.top-cell-content {
    font-size: 2.3vw;
    height: 100%;
    width: 100%;
    padding-left: 0.8vw;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.card-graph-container {
    margin-top: 2vw;
    margin-left: 3.3vw;
    margin-right: 3.3vw;
    margin-bottom: 5em;
}

.graph-card {
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.graph-card-title {
    font-size: 1vw;
    margin-top: 3% !important;
    margin-left: 2% !important;
    margin-bottom: 5%;
}

.graph-card-content {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
}


.ticket-bargraph-cell {
    width: 95%;
}

.article-bargraph-cell {
    width: 95%;
}

.camembert-units-cell {

}

.camembert-revenues-cell {

}

.segmentation-bargraph-cell {
    width: 95%;
}

.article-table-cell {
    height: 95%;
}

.table-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    height: 100%;
    overflow: auto;
}

td {
    font-size: 0.6vw;
}

th {
    font-size: 0.7vw;
}

.align-center {
    justify-content: center;
}

#table {
    height: 90%;
}