<div class="container">
    <mat-grid-list cols="3" rowHeight="3:1">
        <!-- CARTES -->
        <mat-grid-tile>
            <mat-card class="top-cell top-cell-left">
                <mat-card-title class="top-cell-title">Nombre d'articles vendus</mat-card-title>
                <mat-card-content class="top-cell-content" [ngClass]= "{'align-center': totalSoldArticles == null || totalSoldArticles.length === 0}">
                    <div class="align-center" *ngIf='totalSoldArticles == null || totalSoldArticles.length === 0'>
                        <mat-spinner [diameter]="50" color="warn"></mat-spinner>
                    </div>
                    {{totalSoldArticles}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="top-cell">
                <mat-card-title class="top-cell-title">Clients individuels</mat-card-title>
                <mat-card-content class="top-cell-content" [ngClass]= "{'align-center': totalClients == null || totalClients.length === 0}">
                    <div *ngIf='totalClients == null || totalClients.length === 0'>
                        <mat-spinner [diameter]="50" color="warn"></mat-spinner>
                    </div>
                    {{totalClients}}
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="top-cell top-cell-right">
                <mat-card-title class="top-cell-title">Revenu total</mat-card-title>
                <mat-card-content class="top-cell-content" [ngClass]= "{'align-center': totalRevenue == null || totalRevenue.length === 0}">
                    <div *ngIf='totalRevenue == null || totalRevenue.length === 0'>
                        <mat-spinner [diameter]="50" color="warn"></mat-spinner>
                    </div>
                    <div *ngIf='totalRevenue != null'>
                        {{totalRevenue}} €
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- GRAPHICS -->
    <mat-card class="card-graph-container">
        <mat-card-content>
            <mat-grid-list cols="6">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-card class="graph-card ticket-bargraph-cell">
                        <mat-card-title class="graph-card-title">Répartition tickets par mois</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [legend]="false" [chartType]="barChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="2">
                    <mat-card class="graph-card article-table-cell">
                        <mat-card-title class="graph-card-title">Articles les plus vendus</mat-card-title>
                        <mat-card-content id="table" class="graph-card-content" [ngClass]= "{'align-center': dataSource == null || dataSource.length === 0}">
                            <div *ngIf='dataSource == null || dataSource.length === 0'>
                                <mat-spinner [diameter]="50" color="warn"></mat-spinner>
                            </div>
                            <div *ngIf='dataSource != null' class="table-container">
                                <table mat-table [dataSource]="dataSource">
                                    <!-- Numero Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <!-- Family Column -->
                                    <ng-container matColumnDef="family">
                                        <th mat-header-cell *matHeaderCellDef> Famille </th>
                                        <td mat-cell *matCellDef="let element"> {{element.family}} </td>
                                    </ng-container>

                                    <!-- Prix Column -->
                                    <ng-container matColumnDef="price">
                                        <th mat-header-cell *matHeaderCellDef> Prix </th>
                                        <td mat-cell *matCellDef="let element"> {{element.price}}€ </td>
                                    </ng-container>

                                    <!-- Proportion columns -->
                                    <ng-container matColumnDef="proportion">
                                        <th mat-header-cell *matHeaderCellDef> Proportion </th>
                                        <td mat-cell *matCellDef="let element"> {{element.proportion}}% </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-card class="graph-card camembert-units-cell">
                        <mat-card-title class="graph-card-title">Unités / Famille</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels"
                                [options]="pieChartOptions" [legend]="false" [chartType]="pieChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-card class="graph-card camembert-revenues-cell">
                        <mat-card-title class="graph-card-title">Ventes (€) / Famille</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="salesPieChartData" [labels]="salesPieChartLabels"
                                [options]="salesPieChartOptions" [legend]="false" [chartType]="salesPieChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-card class="graph-card ticket-bargraph-cell">
                        <mat-card-title class="graph-card-title">Articles par famille</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="familyBarChartData" [labels]="familyBarChartLabels"
                                [options]="familyBarChartOptions" [legend]="false" [chartType]="familyBarChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-card class="graph-card segmentation-bargraph-cell">
                        <mat-card-title class="graph-card-title">Segmentation total des tickets</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [legend]="false" [chartType]="lineChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>