<div>
    <div class="container">
        <mat-form-field class="user-input" [formGroup]="userIdGroup"
            *ngIf="userIdGroup.get('userIdFormControl') as userIdControl">
            <mat-label>User ID</mat-label>
            <input matInput type="text" [(ngModel)]="userId" (keydown.enter)="loadUserData()" style="color: white;"
                formControlName="userIdFormControl">
            <mat-error *ngIf="userIdControl.hasError('invalidAsync')">
                L'utilisateur n'existe pas
            </mat-error>
            <mat-error *ngIf="userIdControl.hasError('required')">
                Veuillez entrer l'id d'un client
            </mat-error>
            <button mat-button *ngIf="userId" matSuffix mat-icon-button aria-label="Search" (click)="loadUserData()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-grid-list cols="3" rowHeight="3:1" *ngIf="show">
        <!-- CARTES -->
        <mat-grid-tile>
            <mat-card class="top-cell top-cell-left">
                <mat-card-content class="top-cell-content">
                    <div class="box">
                        <span class="top-cell-title">Nombre de tickets</span>
                        <p class="box-content">
                            {{totalTickets}} <span [ngSwitch]="compareValues(totalTickets, averageTicketNumber)">
                                <mat-icon [inline]="true" *ngSwitchCase="false" style="color: rgb(15, 207, 15);">arrow_drop_up
                                </mat-icon>
                                <mat-icon [inline]="true" *ngSwitchCase="true" style="color: red;">arrow_drop_down</mat-icon>
                            </span>
                        </p>
                    </div>
                    <div class="box">
                        <span class="top-cell-title">Nombre de tickets moyen</span>
                        <p class="box-content">
                            {{averageTicketNumber}}
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="top-cell">
                <mat-card-content class="top-cell-content">
                    <div class="box">
                        <span class="top-cell-title">Panier moyen</span>
                        <p class="box-content">
                            {{clientAverageCart}} € <span [ngSwitch]="compareValues(clientAverageCart, averageCart)">
                                <mat-icon [inline]="true" *ngSwitchCase="false" style="color: rgb(15, 207, 15);">arrow_drop_up
                                </mat-icon>
                                <mat-icon [inline]="true" *ngSwitchCase="true" style="color: red;">arrow_drop_down</mat-icon>
                            </span>
                        </p>
                    </div>
                    <div class="box">
                        <span class="top-cell-title">Panier moyen global</span>
                        <p class="box-content">
                            {{averageCart}} €
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="top-cell top-cell-right">
                <mat-card-content class="top-cell-content">
                    <div class="box">
                        <span class="top-cell-title">Dépense totale</span>
                        <p class="box-content">
                            {{clientTotal}} € <span [ngSwitch]="compareValues(clientTotal, averageTotal)">
                                <mat-icon [inline]="true" *ngSwitchCase="false" style="color: rgb(15, 207, 15);">arrow_drop_up
                                </mat-icon>
                                <mat-icon [inline]="true" *ngSwitchCase="true" style="color: red;">arrow_drop_down</mat-icon>
                            </span>
                        </p>
                    </div>
                    <div class="box">
                        <span class="top-cell-title">Dépense totale moyenne</span>
                        <p class="box-content">
                            {{averageTotal}} €
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- GRAPHICS -->
    <mat-card class="card-graph-container" *ngIf="show">
        <mat-card-content>
            <mat-grid-list cols="6">
                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-card class="graph-card ticket-bargraph-cell">
                        <mat-card-title class="graph-card-title">Répartition tickets par mois</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [legend]="false" [chartType]="barChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="2">
                    <mat-card class="graph-card article-table-cell">
                        <mat-card-title class="graph-card-title">Articles achetés</mat-card-title>
                        <mat-card-content id="table" class="graph-card-content" [ngClass]= "{'align-center': listArticles == null || listArticles.length === 0}">
                            <div *ngIf='listArticles == null || listArticles.length === 0'>
                                <mat-spinner [diameter]="50" color="warn"></mat-spinner>
                            </div>
                            <div *ngIf='listArticles != null' class="table-container">
                                <table mat-table [dataSource]="listArticles" class="mat-elevation-z3">
                                    <!-- Numero Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <!-- Family Column -->
                                    <ng-container matColumnDef="family">
                                        <th mat-header-cell *matHeaderCellDef> Famille </th>
                                        <td mat-cell *matCellDef="let element"> {{element.family}} </td>
                                    </ng-container>

                                    <!-- Prix Column -->
                                    <ng-container matColumnDef="price">
                                        <th mat-header-cell *matHeaderCellDef> Prix </th>
                                        <td mat-cell *matCellDef="let element"> {{element.price}}€ </td>
                                    </ng-container>

                                    <!-- Qte columns -->
                                    <ng-container matColumnDef="qte">
                                        <th mat-header-cell *matHeaderCellDef> Qté </th>
                                        <td mat-cell *matCellDef="let element"> {{element.qte}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-card class="graph-card camembert-units-cell">
                        <mat-card-title class="graph-card-title">Unités / Famille</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="pieChartData" [labels]="pieChartLabels"
                                [options]="pieChartOptions" [legend]="false" [chartType]="pieChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-card class="graph-card camembert-revenues-cell">
                        <mat-card-title class="graph-card-title">Ventes (€) / Famille</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <canvas baseChart [datasets]="salesPieChartData" [labels]="salesPieChartLabels"
                                [options]="salesPieChartOptions" [legend]="false" [chartType]="salesPieChartType">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                    <!-- <mat-accordion class="recommendation-accordion">
                        <mat-expansion-panel hideToggle disabled >
                            <mat-expansion-panel-header>
                                <b style="color: white;">Recommendations</b>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        <mat-expansion-panel [disabled]='articleRecommendation == null'>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Recommendation basée sur les articles achetés</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div *ngIf='articleRecommendation == null'>
                                        <mat-spinner [diameter]="20" color="warn"></mat-spinner>
                                    </div>
                                    {{articleRecommendation}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>Cette article a été recommandé car ce client à précédemment acheté ces articles:
                            </p>
                            <ul>
                                <li *ngFor="let reason of articleRecommendationReason">
                                    {{reason}}
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel [disabled]='segmentRecommendation == null'>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <b>Recommendation basée sur les caractéristiques du client</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div *ngIf='segmentRecommendation == null'>
                                        <mat-spinner [diameter]="20" color="warn"></mat-spinner>
                                    </div>
                                    {{segmentRecommendation}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>Cette article a été recommandé car ce client fait partie de ces catégories: </p>
                            <ul>
                                <li *ngFor="let reason of segmentRecommendationReason">
                                    <span [matTooltip]='reason.description'
                                        matTooltipPosition="right">{{reason.segment}}</span>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion> -->
                    <mat-card class="graph-card recommendation-cell">
                        <mat-card-title class="graph-card-title">Recommandations</mat-card-title>
                        <mat-card-content class="graph-card-content">
                            <mat-accordion>
                                <mat-expansion-panel [disabled]='articleRecommendation == null'>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Recommendation basée sur les articles achetés</b>
                                        </mat-panel-title>
                                        <mat-panel-description [ngClass]= "{'align-center': articleRecommendation == null}">
                                            <div *ngIf='articleRecommendation == null'>
                                                <mat-spinner [diameter]="20" color="warn"></mat-spinner>
                                            </div>
                                            {{articleRecommendation}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Cette article a été recommandé car ce client à précédemment acheté ces articles:
                                    </p>
                                    <ul>
                                        <li *ngFor="let reason of articleRecommendationReason">
                                            {{reason}}
                                        </li>
                                    </ul>
                                </mat-expansion-panel>
                                <mat-expansion-panel [disabled]='segmentRecommendation == null'>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <b>Recommendation basée sur les caractéristiques du client</b>
                                        </mat-panel-title>
                                        <mat-panel-description [ngClass]= "{'align-center': articleRecommendation == null}">
                                            <div *ngIf='segmentRecommendation == null'>
                                                <mat-spinner [diameter]="20" color="warn"></mat-spinner>
                                            </div>
                                            {{segmentRecommendation}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>Cette article a été recommandé car ce client fait partie de ces catégories: </p>
                                    <ul>
                                        <li *ngFor="let reason of segmentRecommendationReason">
                                            <span [matTooltip]='reason.description'
                                                matTooltipPosition="right">{{reason.segment}}</span>
                                        </li>
                                    </ul>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile colspan="2" rowspan="1">
                    <mat-card class="graph-card segmentation-bargraph-cell">
                        <mat-card-title class="graph-card-title">Segmentation total des tickets</mat-card-title>
                        <mat-card-content class="graph-card-content" *ngIf="segmentationIsLoaded">
                            <canvas id="segmentation" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [legend]="false" [chartType]="lineChartType"
                                [plugins]="userPlugins">
                                ></canvas>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <!-- <mat-card style="margin-top: 4em; margin-bottom: 5em; padding-bottom: 2em; padding-top: 2em;">
        <mat-card-content>
            Test
        </mat-card-content>
    </mat-card> -->
</div>