mat-card {
    background-color: hsla(0,0%,100%,.05);
}

.container {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 2em;
    text-align: center;
}

.user-input {
    width: 95%;
}

.top-cell {
    height: 80%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.top-cell-right {
    margin-right: 10%;
}

.top-cell-left {
    margin-left: 10%;
}

.top-cell-title {
    font-size: 1vw;
    // margin-top: 3% !important;
    // margin-left: 2% !important;
    box-decoration-break: clone;
    line-height: normal;
}

.top-cell-content {
    font-size: 2.3vw;
    height: 100%;
    width: 100%;
    padding-left: 0.8vw;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box {
    height: 80%;
    width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // position: absolute;
}

.box-content {
    font-size: 2vw;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 4%;
    font-weight: bold;
}


.card-graph-container {
    margin-top: 2vw;
    margin-left: 3.3vw;
    margin-right: 3.3vw;
    margin-bottom: 5em;
    height: auto;
}

.graph-card {
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.graph-card-title {
    font-size: 1vw;
    margin-top: 3% !important;
    margin-left: 2% !important;
    margin-bottom: 5%;
}

.graph-card-content {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
}


.ticket-bargraph-cell {
    width: 95%;
}

.article-bargraph-cell {
    width: 95%;
}

.camembert-units-cell {

}

.camembert-revenues-cell {

}

.segmentation-bargraph-cell {
    width: 95%;
}

.recommendation-cell {
    height: auto;
}

.article-table-cell {
    height: 95%;
}

.table-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.recommendation-accordion {

}

mat-accordion {
    width: 100%;
    display: inline-block;
    // align-items: center;
}

table {
    width: 100%;
    height: 100%;
    overflow: auto;
}

td {
    font-size: 0.6vw;
}

th {
    font-size: 0.6vw;
}

#table {
    height: 90%;
}

.align-center {
    justify-content: center;
}

mat-grid-tile {
    height: auto;
}