<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="GLOBAL">
    <app-global-stats></app-global-stats>
  </mat-tab>
  <mat-tab label="UTILISATEUR">
    <app-user-stats></app-user-stats>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>